	<div id="page-header">
		<img src="css/img/page-header1.jpg" alt="">
	</div>	
	<!-- BEGIN .section -->
	<div class="section">		
		<ul class="columns-content page-content clearfix">			
			<!-- BEGIN .col-main -->
			<li class="col-main-old">
				<h2 class="page-title">
					Корзина
				</h2>
				<form action="css/img/Cart _ Organic Shop.html" method="post">
					<table class="product-table">
						<thead>
							<tr>
								<th class="product-remove">Удалить</th>
								<th class="product-name">Название</th>
								<th class="product-price">Цена</th>
								<th class="product-quantity">Количество</th>
								<th class="product-subtotal">Сумма</th>
							</tr>
						</thead>
						<tbody>



							<tr ng-repeat="product in cartList" class="cart_table_item">
								<!-- Remove from cart link -->
								<td data-title="Remove" class="product-remove">
									<a href="javascript.void(0)" class="remove" ng-click="setProductCartCount(product.id, 0)" title="Удалить">×</a>
								</td>
								
								<!-- Product Name -->
								<td data-title="Product Name" class="product-name">
									<a ng-href="/#/product/{{product.id}}">{{product.title}}</a>
								</td>
								
								<!-- Product price -->
								<td data-title="Price">
									<span class="amount">{{product.price}}</span>
								</td>
								
								<!-- Quantity inputs -->
								<td data-title="Quantity" class="qty-table product-quantity">
									<div class="qty-fields">
										<input type="button" class="plusminus minus" id="minus1" value="-" ng-click="setProductCartCountIncrement(product.id, false)">
										<input name="quantity" data-min="0" data-max="{{product.count}}" value="{{model.productFromCartById(product.id).count}}" size="4" class="qty-text" maxlength="12" value="0" readonly>
										<input type="button" class="plusminus plus" id="plus1" value="+"  ng-click="setProductCartCountIncrement(product.id, true)">
									</div>						
								</td>
								
								<!-- Product subtotal -->
								<td data-title="Total" class="product-subtotal">
									<span class="amount">{{model.productFromCartById(product.id).count * product.price | currency}}</span>
								</td>
							</tr>



						</tbody>
					</table>

					<!-- BEGIN .clearfix -->
					<div class="cart-options clearfix">
						<div class="cart-buttons fr">
							<a href="javascript.void(0)" class="button2 buttonpad" style="margin: 2px 0 0 0;">Оформить заказ →</a>
						</div>
					<!-- END .clearfix -->
					</div>
				</form>
				<hr>
				<div class="cart-collaterals">					
					<div class="form-third ">
						<div class="tag-title-wrap clearfix">
							<h4 class="tag-title">Сумма</h4>
						</div>
						<table width="100%" class="account-table">
							<tbody>
								<tr class="total">
									<td>
										<strong>Сумма заказа</strong>
									</td>
									<td>
										<span class="amount">{{model.summ | currency}}</span>
									</td>
								</tr>								
							</tbody>
						</table>
					</div>	
					<div class="clearboth"></div>
				</div>		
			<!-- END .col-main -->
			</li>				
		</ul>
		<!-- END .section -->
	</div>

								
					