	<div id="page-header">
		<img src="css/img/page-header1.jpg" alt="">
	</div>	
	<!-- BEGIN .section -->
	<div class="section">		
		<ul class="columns-content page-content clearfix">			
			<!-- BEGIN .col-main -->
			<li class="col-main-old">
				<h2 class="page-title">
					Корзина
				</h2>
				<div ng-show="page == 1">

					<div ng-include="'/tmpl/orderList.html'"></div>

					<!-- BEGIN .clearfix -->
					<div class="cart-options clearfix">
						<div class="cart-buttons fr" ng-show="cartList.length > 0">
							<a href="javascript:void(0)" ng-click="page = 2" class="button2 buttonpad" style="margin: 2px 0 0 0;">Оформить заказ →</a>
						</div>
						<!-- END .clearfix -->
					</div>

					<br>
					<br>
					<hr>
					<div class="cart-collaterals">
						<div class="form-third ">
							<div class="tag-title-wrap clearfix">
								<h4 class="tag-title">Сумма</h4>
							</div>
							<table width="100%" class="account-table">
								<tbody>
								<tr class="total">
									<td>
										<strong>Сумма заказа</strong>
									</td>
									<td>
										<span class="amount">{{model.summ | number:2}} грн</span>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
						<div class="clearboth"></div>
					</div>
				</div>

				<div  ng-show="page == 2">

					<div class="msg fail" ng-click="validation.errors.splice($index, 1)" ng-repeat="error in validation.errors">{{error}}</div>

					<div ng-include="'/tmpl/orderDetails.html'" ></div>

					<input class="button2" type="button" value="Отправить" ng-click="createOrder()">
				</div>

				<div ng-show="page == 3">
					<div class="msg success">
						<p>Спасибо за Ваш выбор! Ваш заказ отправлен в обработку, в ближайшее время с Вами свяжется наш менеджер</p>
					</div>

					<div>
						<a class="button2" href="/#/products" >Перейти в магазин</a>
					</div>
				</div>
			<!-- END .col-main -->
			</li>				
		</ul>
		<!-- END .section -->
	</div>
					