
		
	<div id="container">
		<div id="content" role="main">
			<div id="page-header">
				<img src="css/img/page-header1.jpg" alt="">
			</div>
			<!-- BEGIN .section -->
			<div class="section">
				<ul class="columns-content page-content clearfix">
					<!-- BEGIN .col-main -->
					<li class="col-main-old">
						<h2 class="page-title">
							Галерея
						</h2>
						<div class="page-description"></div>

						<access-control>
							<a rel="nofollow" class="button2 product_type_simple" ng-click="addNewProduct()">
								Добавить продукт
							</a>
							<br>
							<br>
							<br>
							<br>
						</access-control>

						<ul class="columns-3 clearfix product-list">
							<li product="product" path="product" ng-repeat="product in model.products">

							</li>
						</ul>
						<div class="clear"></div>

					<!-- END .col-main -->
					</li>

				</ul>
			<!-- END .section -->
			</div>
		</div>
	</div>
	


