	<div class="section section-intro">
		<h2 class="site-intro">

			Друзья, извините за неудобства, сайт сейчас находится на стадии наполнения и тестирования. На данный момент недоступна возможность оформить заказ в корзине.
			<br>
			Поэтому, если Вам понравились наши изделия и Вы хотите приобрести их, пожалуйста звоните нам по телефонам, указанным в <a href="/#/contacts">контактах</a>.
			<br>
			Спасибо, что Вы интересуетесь нашими продуктами! С наступающими праздниками!
		</h2>
		<h2 class="site-intro" style="display: none;">
			Теплые, душевные и уютные изделия ручной работы станут необыкновенным, оригинальным и неожиданным подарком для Ваших самых близких людей! Удивите тех, кого любите!
		</h2>

	</div>

	<!-- BEGIN .slider -->
	<div slider class="slider clearfix">


		<!-- END .slider -->
		<div class="flex-viewport" style="overflow: hidden; position: relative;">
			<ul class="slides" style="width: 1000%; transition-duration: 0.6s; transform: translate3d(-1920px, 0px, 0px);">

				<!--<li class="clone" style="width: 960px; float: left; display: block;">
					<img src="css/img/slider/WD2.jpg" alt="">

					<div class="flex-caption">
					</div>
				</li>
				<li class="clone" style="width: 960px; float: left; display: block;">
					<img src="css/img/slider/WD1.jpg" alt="">

					<div class="flex-caption">
					</div>
				</li>-->
				<li ng-repeat="slide in slides" class="clone" style="width: 960px; float: left; display: block;">
					<img ng-src="css/img/slider/{{slide}}" alt="">

					<div class="flex-caption">
					</div>
				</li>

			</ul>
		</div>
		<ul class="flex-direction-nav">
			<li>
				<a class="flex-prev" href="#">Предыдущий</a>
			</li>
			<li>
				<a class="flex-next" href="#">Следующий</a>
			</li>
		</ul>
	</div>
	<br>
	<br>
	<!-- BEGIN .section-mini2 -->
	<div class="section-mini2">
		<div class="tag-title-wrap clearfix">
			<h4 class="tag-title">Новые продукты</h4>
		</div>
		<ul class="products">
			<li product="product" path="product" ng-repeat="product in model.products | reverse | filter:{ sold: 0 } | limitTo:4">

			</li>
		</ul>
		<!-- END .section-mini2 -->
	</div>

