		
		
	<div id="container">
		<div id="content" role="main">
			<div id="page-header">
				<img src="css/img/page-header1.jpg" alt="">
			</div>
			<!-- BEGIN .section -->
			<div class="section">
				<ul class="columns-content page-content clearfix">
					<!-- BEGIN .col-main -->
					<li class="col-main-old">
						<h2 class="page-title">{{prod.title}}</h2>
						<ul class="columns-2 product-single-content clearfix">
							<li class="post-74 product type-product status-publish hentry col2 clearfix" id="product-74">
								<!--<span class="onsale">Распродажа</span>-->
								<div class="images">
									<a fancybox itemprop="image" ng-href="{{$root.getShortImage(model.product.path)}}" class="zoom" rel="thumbnails" title="{{model.product.title}}">
										<img ng-src="{{$root.getShortImage(model.product.path)}}" class="attachment-shop_single wp-post-image" alt="{{model.product.title}}" title="{{model.product.title}}">
									</a>
									<div class="thumbnails"></div>
								</div>
							</li>
							<li class="col2 clearfix">
								<div class="summary">
									<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
										<h2 itemprop="price" class="product-price-single">
											<del ng-show="model.product.price_old != '0.00'"><span class="amount">{{model.product.price_old}}грн</span></del>
											<ins><span class="amount">{{model.product.price}}грн</span></ins>
										</h2>
										<link itemprop="availability" href="http://schema.org/InStock">
									</div>
									<div itemprop="description">
										<p>{{model.product.description}}</p>
									</div>

									<div action="shop/luxury-spa-set-2/?add-to-cart=74" class="qty-product-single clearfix cart" method="post" enctype="multipart/form-data">
										<div class="qty-fields-large clearfix fl">
											<input type="button" class="plusminus minus" id="minus1" value="-"><input name="quantity" data-min="1" data-max="0" value="1" size="4" title="Qty" class="qty-text" maxlength="12"><input type="button" class="plusminus plus" id="plus1" value="+">
										</div>
										<button type="submit" class="single_add_to_cart_button button3 fr alt">Добавить в корзину</button>
									</div>
									<div class="product_meta">
										 <span class="posted_in">Category: <a href="product-category/bath-body-care/" rel="tag">Bath &amp; Body Care</a>, <a href="product-category/hair/" rel="tag">Hair</a>, <a href="product-category/make-up/" rel="tag">Make-Up</a>, <a href="product-category/moisturisers/" rel="tag">Moisturisers</a>, <a href="product-category/spa-products/" rel="tag">Spa Products</a>.</span>
									</div>
								</div><!-- .summary -->
							</li>
						</ul>

						<div class="product_images">

							<div ng-repeat="image in model.images" >
								<a class="set-default-button" href="javascript:void(0)" ng-click="setDefaultImage(image.id)">
									Сделать главной
								</a>
								<a href="javascript:void(0)" ng-click="selectImage(image.path)">
									<div class="image-preview">
										<img ng-src="{{$root.getShortImage(image.path, true)}}">
									</div>
								</a>
							</div>
						</div>
						<br>

						<access-control>
							<br>
							<div class="add-files">
								<button class="button3 fr alt" ngf-select="uploadFiles($files)" multiple accept="image/*">Добавить фотографии</button>
							</div>
							<br>
						</access-control>

						<br>
						<div ng-show="model.product.description != ''" id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
							<ul class="nav clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
								<li class="description_tab ui-state-default ui-corner-top">
									<a href="javascript:void()">Описание</a>
								</li>
								<!--<li class="reviews_tab ui-state-default ui-corner-top ui-tabs-selected ui-state-active ui-state-focus">
									<a href="shop/luxury-spa-set-2/#tabs-tab-title-2">Reviews (1)</a>
								</li>-->
							</ul>
							<div id="tabs-tab-title-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
								<p>{{ model.product.description }}</p>
							</div>
						</div>


						<div class="related products">
							<h2>Похожие продукты</h2>
							<ul class="products">


								<li class="first">
									<a href="shop/seaweed-soap-2/">
										<div class="product-image">
											<span class="onsale">Sale!</span>	
											<img src="css/img/image1-285x285.jpg" class="attachment-shop_catalog wp-post-image" alt="image1" title="image1">		
										</div>
										<p class="product-title">Seaweed Soap</p>					
										<p class="product-price">
											<del><span class="amount">£18.99</span></del> 
											<ins><span class="amount">£14.99</span></ins>
										</p>
									</a>
									<p class="product-button clearfix">
										<a href="shop/luxury-spa-set-2/?add-to-cart=72" rel="nofollow" data-product_id="72" class="button2 product_type_simple">Add to cart</a>
									</p>
								</li>									
								<!--<li class="last">
									<a href="shop/oak-candle-set/">
										<div class="product-image">						
											<span class="onsale">Sale!</span>	
											<img src="css/img/image2-285x285.jpg" class="attachment-shop_catalog wp-post-image" alt="image2" title="image2">		
										</div>					
										<p class="product-title">Oak Candle Set</p>					
										<p class="product-price">
											<del><span class="amount">£49.99</span></del> 
											<ins><span class="amount">£34.99</span></ins>
										</p>
									</a>
									<p class="product-button clearfix">
										<a href="shop/luxury-spa-set-2/?add-to-cart=62" rel="nofollow" data-product_id="62" class="button2 product_type_simple">Add to cart</a>
									</p>												
								</li>--->
							</ul>
						</div>
					<!-- END .col-main -->
					</li>

				</ul>
			<!-- END .section -->
			</div>
		</div>
	</div>	
					
									
