		
		
	<div id="container">
		<div id="content" role="main">
			<div id="page-header">
				<img src="css/img/page-header1.jpg" alt="">
			</div>
			<!-- BEGIN .section -->
			<div class="section">
				<ul class="columns-content page-content clearfix">
					<!-- BEGIN .col-main -->
					<li class="col-main-old">
						<h2 class="page-title">{{prod.title}}</h2>
						<ul class="columns-2 product-single-content clearfix">
							<li class="post-74 product type-product status-publish hentry col2 clearfix" id="product-74">
								<!--<span class="onsale">Распродажа</span>-->
								<div class="images">
									<a fancybox itemprop="image" ng-href="{{$root.getShortImage(model.product.path)}}" class="zoom" rel="thumbnails" title="{{model.product.title}}">
										<img ng-src="{{$root.getShortImage(model.product.path)}}" class="attachment-shop_single wp-post-image" alt="{{model.product.title}}" title="{{model.product.title}}">
									</a>
									<div class="thumbnails"></div>
								</div>
							</li>
							<li class="col2 clearfix">
								<div class="summary">
									<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
										<h2 itemprop="price" class="product-price-single">
											<del ng-show="model.product.price_old != 0.0"><span class="amount">{{model.product.price_old | currency}}грн</span></del>
											<ins><span class="amount">{{model.product.price | currency}}грн</span></ins>
											<br>
											<span ng-if="!model.product.sold && model.product.count > 0" class="count-text">В наличии {{model.product.count}} шт.</span>
											<span ng-if="model.product.sold || model.product.count == 0" class="count-text">Нет в наличии</span>
										</h2>
										<link itemprop="availability" href="http://schema.org/InStock">
									</div>
									<div itemprop="description">
										<p>{{model.product.description}}</p>
									</div>

									<div ng-if="!model.product.sold && model.product.count > 0" class="qty-product-single clearfix cart" method="post" enctype="multipart/form-data">
										<div class="qty-fields-large clearfix fl">
											<input type="button" class="plusminus minus" id="minus1" value="-" ng-click="setProductCartCountIncrement(model.product.id, false)">
											<input name="quantity" data-min="0" data-max="{{model.product.count}}" value="{{model.productFromCartById(model.product.id).count}}" size="4" class="qty-text" maxlength="12" value="0" readonly>
											<input type="button" class="plusminus plus" id="plus1" value="+"  ng-click="setProductCartCountIncrement(model.product.id, true)">
										</div>

										<button type="submit" class="single_add_to_cart_button button3 fr alt" ng-click="setProductCartCountIncrement(model.product.id, true)">Добавить в корзину</button>
									</div>
									<!--<div class="product_meta">
										 <span class="posted_in">Category: <a href="product-category/bath-body-care/" rel="tag">Bath &amp; Body Care</a>, <a href="product-category/hair/" rel="tag">Hair</a>, <a href="product-category/make-up/" rel="tag">Make-Up</a>, <a href="product-category/moisturisers/" rel="tag">Moisturisers</a>, <a href="product-category/spa-products/" rel="tag">Spa Products</a>.</span>
									</div>-->
								</div><!-- .summary -->
							</li>
						</ul>

						<access-control>
							<h2>Редактирование</h2>
							<div class="">
								<div class="field-row-edit-block">
									<label for="title">Название<span class="required">*</span></label>
									<input type="text" class="text_input" ng-model="model.product.title" name="title" id="title">
								</div>
								<div class="field-row-edit-block">
									<label for="price">Цена<span class="required">*</span></label>
									<input type="text" class="text_input" ng-model="model.product.price" name="price" id="price">
								</div>
								<div class="field-row-edit-block">
									<label for="price_old">Старая цена<span class="required">*</span></label>
									<input type="text" class="text_input" ng-model="model.product.price_old" name="price_old" id="price_old">
								</div>
								<div class="field-row-edit-block">
									<label for="count">Количество<span class="required">*</span></label>
									<input type="text" class="text_input" ng-model="model.product.count" name="count" id="count">
								</div>
								<div class="field-row-edit-block">
									<label for="description">Тип<span class="required"></span></label>
									<!--<input type="text" class="text_input" ng-model="model.product.description" name="description" id="description">-->
									<select ng-options="item as item.name for item in model.productTypes track by item.id" ng-model="model.selectedType"></select>
								</div>
								<div class="field-row-edit-block">
									<label for="state">Наличие<span class="required"></span></label>
									<!--<select style="width: 162px;" ng-options="item as item for item in ['','']" ng-model="model.selectedState"></select>-->
									<input type="text" class="text_input sold-state" ng-class="{'sold' : (model.product.sold == 1)}" ng-click="model.product.sold == 0 ? model.product.sold = 1 : model.product.sold = 0" ng-value="model.product.sold == 0 ? 'В наличии' : 'Продано'"  name="state" id="state">
								</div>
								<div class="field-row-edit-block">
									<label for="description">Описание<span class="required">*</span></label>
									<input type="text" class="text_input wide" ng-model="model.product.description" name="description" id="description">
								</div>


								<div class="buttons-panel">
									<div class="add-files ng-scope">
										<button class="button3 alt" ng-click="updateProduct()">Сохранить</button>
									</div>

									<div class="add-files ng-scope" ng-click="deleteProduct(model.product.id)">
										<button class="button3 alt" >Удалить</button>
									</div>
								</div>
							</div>
							<br>
						</access-control>

						<div class="product_images">

							<div ng-repeat="image in model.images" >
								<a href="javascript:void(0)" ng-click="selectImage(image.path)">
									<div class="image-preview">
										<a fancybox itemprop="image" ng-href="{{$root.getShortImage(image.path)}}" class="zoom" rel="thumbnails" title="{{model.product.title}}">
											<img ng-src="{{$root.getShortImage(image.path, true)}}" class="attachment-shop_single wp-post-image" alt="{{model.product.title}}" title="{{model.product.title}}">
										</a>

										<!--<img ng-src="{{$root.getShortImage(image.path, true)}}">-->
									</div>
								</a>
								<access-control>
									<a class="set-default-button" href="javascript:void(0)" ng-click="setDefaultImage(image.id)">
										Сделать главной
									</a>

									<a class="remove-image-button" href="javascript:void(0)" ng-click="deleteImage(image.id)">
										Удалить
									</a>

								</access-control>
							</div>
						</div>
						<br>

						<access-control>
							<br>
							<div class="add-files">
								<button class="button3 fr alt" ngf-select="uploadFiles($files)" multiple accept="image/*">Добавить фотографии</button>
							</div>
							<br>
						</access-control>

						<br>
						<br>
						<h2 class="page-title ng-binding"></h2>
						<br>
						<div ng-show="model.product.description != ''" id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
							<ul class="nav clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
								<li class="description_tab ui-state-default ui-corner-top">
									<a href="javascript:void()">Описание</a>
								</li>
							</ul>
							<div id="tabs-tab-title-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
								<p>{{ model.product.description }}</p>
							</div>
						</div>


						<div class="related products">
							<h2>Похожие продукты</h2>
							<ul class="products">
								<li product="product" path="product" ng-repeat="product in model.products | filter:{ type: typeId, sold: 0 }">
								</li>
							</ul>
						</div>
					<!-- END .col-main -->
					</li>
				</ul>
			<!-- END .section -->
			</div>
		</div>
	</div>	
					
									
