
    <access-control>
        <img class="remove-product" src="css/img/cancel.png" ng-click="$root.removeProduct(product.id, $event)">
    </access-control>

    <a ng-href="#/{{path}}/{{product.id}}">
        <div class="product-image">
            <span ng-if="product.sold" class="onsale">Продано</span>
            <img ng-src="{{$root.getShortImage(product.path, true)}}" class="attachment-shop_catalog wp-post-image" alt="{{product.title}}" title="{{product.title}}">
        </div>
        <p class="product-title">{{product.title}}</p>

        <p ng-show="!product.sold" class="product-price">
            <del ng-if="product.price_old != '0.00'"><span class="amount">{{product.price_old | number:2}} грн</span></del>
            <ins><span class="amount">{{product.price | number:2}} грн</span></ins>
            <br>
            <span ng-if="!product.sold && product.count > 0" class="count-text">В наличии {{product.count}} шт.</span>
            <span ng-if="product.sold || product.count == 0" class="count-text">Нет в наличии</span>
        </p>
    </a>

    <p ng-show="!product.sold" class="product-button clearfix">
        <a href="javascript:void(0)" rel="nofollow" data-product-id="{{product.id}}" ng-click="setProductCartCountIncrement(product.id, true)" class="button2 product_type_simple">Добавить в корзину</a>
    </p>

